body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #625f5f;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.title-green {
    color: #121514;
}

.title-3d {
    text-shadow: 2px 2px 0 #faf6f6, 
                 -2px -2px 5px rgba(0, 0, 0, 0.6);  /* Efecto 3D con sombra */
    font-size: 2.5em;  /* Tamaño del texto aumentado */
    font-weight: bold;  /* Negrita para un impacto mayor */
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    color: #333;
    margin: 20px 0;
}

/* Nueva clase para cambiar el color de los títulos específicos a blanco */
.title-white {
    color: white; /* Cambia el color a blanco */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.image-card {
    margin: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.image-card:hover {
    transform: scale(1.05);
    border-color: #6bcac2;
}

.image-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-inner {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #d5d7d5;
    border-radius: 15px;
    text-align: center;
}

.modal-content {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-description {
    color: #333;
    font-size: 1.2em;
    margin-top: 10px;
}

/* Enlace de WhatsApp */
.whatsapp-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #25D366;  /* Color característico de WhatsApp */
}

.whatsapp-link img {
    margin-right: 10px;  /* Espacio entre la imagen y el texto */
    width: 40px;  /* Tamaño del icono */
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
}

footer p {
    font-size: 2em;  /* Aumenta el tamaño de la fuente */
    color: #000;  /* Color negro */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), 
                 -2px -2px 5px rgba(0, 0, 0, 0.6);  /* Efecto 3D */
    font-weight: bold;  /* Opcional, para hacer el texto más marcado */
}

footer a {
    color: #3b5998;  /* Color característico de Facebook */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

footer a img {
    margin-right: 10px;  /* Espacio entre el icono y el texto */
    width: 30px;  /* Tamaño del icono de Facebook */
}

/* Estilos Responsivos */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.8em;
    }

    .image-card img {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 1.5em;
    }

    footer {
        padding: 15px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .image-card img {
        width: 150px;
        height: 150px;
    }
}
